<li>
   <%= link_to "Session number #{session.position}", session %> : <%=session.location%> at <%=session.date%>
   <% if params[:user_id].present?%>
    <% if session.student_number < session.capacity%>
      <t\><%=link_to "attend this session", attendances_path(id: session.id,user_id: @user.id), method: :post %>
    <%else%>
      <t\> Session full !!
    <%end%>
   <% end %>
</li>
