<h1>
  <%= @course.name %>
</h1>
<br/>
<%= link_to "Add a chapter to this course", new_chapter_path(course_id: @course.id), class: "btn btn-lg btn-primary" %>
<br/>
<h2> List of Chapters </h2>
<% if @chapters.any? %>
  <ul class = "chapters">
    <%= render @chapters %>
  </ul>
<% else %>
  pas encore de chapitre
<%end%>
