<li>
  <%= link_to chapter.name, chapter %>
  <% if params[:user_id].present? && @current_chapter_number != nil %>
    <% if chapter.position <= @current_chapter_number  +1 %>
      <t\><%=link_to "attend this chapter", chapter_path(id: chapter.id,user_id: @user.id) %>
    <% end %>
  <% end %>
</li>
