<li>
  <%= link_to chapter.name, chapter %>
  <% if params[:user_id].present? && @eligible_chapters != nil %>
    <% if @eligible_chapters.include?(chapter)%>
      <t\><%= link_to "attend this chapter", chapter_path(id: chapter.id,user_id: @user.id) %>
    <% end %>
  <% end %>
</li>
