<h1>Update your Chapter</h1>

<div >
  <div >
    <%= simple_form_for(@chapter) do |f| %>

    <%= f.input :name, class: 'form-control' %>

      <%= f.submit "confirm changes", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
